<h1>Tour Details</h1>
  <ul>
    <div class="container">
    <table>
        <thead>
            <th>ID</th>
            <th>Tour Name</th>
            <th>Destination</th>
            <th>From</th>
            <th>To</th>
            <th>Hotel</th>
            <th>Visa</th>
            <th>Price</th>
            <th></th>
        </thead>
    <tbody>
    <tr *ngFor="let tour of tour">
      <td>{{tour.id}}</td>
      <td>{{tour.tour_Name}}</td>
      <td>{{tour.destination}}</td>
      <td>{{tour.from_date}}</td>
      <td>{{tour.to_date}}</td>
      <td>{{tour.hotel}}</td>
      <td>{{tour.visa_Required}}</td>
      <td>${{tour.price}}</td>
      <td>
        <button (click)="updateTour(tour.id)" class="edit-button">Edit</button>
        <button (click)="deleteTour(tour.id)" class="delete-button">Delete</button>
      </td>
      
    </tbody>
    </table>
    
    <br>
    <br>
    <form class="form-inline my-2 my-lg-0" (submit)="searchTour()">
      <input class="form-control mr-sm-2" type="search" placeholder="Search Tour by ID" aria-label="Search" [(ngModel)]="tourId" name="tourId" required>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> 
  </div>
  </ul>