<h1>Tour Details</h1>
  <ul>
    <div class="container">
    <table>
        <thead>
            <th>ID</th>
            <th>Tour Name</th>
            <th>Destination</th>
            <th>From</th>
            <th>To</th>
            <th>Hotel</th>
            <th>Visa</th>
            <th>Price</th>
            <th></th>
        </thead>
    <tbody>
    <tr>
      <td>{{tourData.id}}</td>
      <td>{{tourData.tour_Name}}</td>
      <td>{{tourData.destination}}</td>
      <td>{{tourData.from_date}}</td>
      <td>{{tourData.to_date}}</td>
      <td>{{tourData.hotel}}</td>
      <td>{{tourData.visa_Required}}</td>
      <td>{{tourData.price}}</td>
      <td>
        <button (click)="updateTour(tourData.id)" class="edit-button">Edit</button>
        <button (click)="deleteTour(tourData.id)" class="delete-button">Delete</button>
      </td>
    </tbody>
    </table>
    <br>
    <br>
  </div>
  </ul>